.video-box{
    width: 5px;
    height: 5px;
}

.rectangle{
    margin-top: 2%;
    height: 250px;
    width: 450px;
    background-color: #555;
}

.user {
    width: 200px;
    height: 200px;
    padding-right: 10px;
}