

*{
    background-image: linear-gradient(to bottom right, #A1C4FD, #C2E9FB); 
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

div#homepage_title{
    width: 350px;
    height: 68px;
    background-color: #A4D0D9 ;
    color: white ;
    font-size: 39px;
    font-weight: bold;
    text-align: center;
    padding-top:0px;
    border-radius: 18px;
    margin-top: 20px;
    margin-left:580px;
    /* border: 0px solid #07A2A6; */

}
.card{
    border-radius: 18px;
    margin: 6px 20px 15px 20px;
}
.container{
    margin: 30px 260px 0px ;
}
/* 
div#cards{
    width: 1000px;
    height: 578px; 
    background-color: black;
    margin-top: 37px;
    margin-left:250px;
     display : flex; 
     align-item : center; 
     justyfy-content : center; 
/
}
div.card{
    width:287px;
    height: 273px;
    border-radius:18px;
    background-color: violet;
    /* background-image:url(".\card1_activity.jpg") ; */
    /* box-shadow: 3px 3px 3px #07A2A6;
    margin: 60px 13px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top:13px;
    margin-bottom:13px;
    display : flex; */
    /* align-item : center;
    justyfy-content : center; */
    /* transition: 0.3s; */

/* .cards :hover{
    transform: translate(0, -10px);
} */
/* div.cardtext{
    width: 156px;
    height: 47px;
    border-radius: 18px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-align: center;
    background-color: #07A2A6;
    padding-top: 9.5px;
    margin:210px auto;

} */ 
